* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
  font-family: "Arcane";
  src: url("../assets/FONTS/ArcaneNine.otf");
}

body {
  width: 100dvw;
  height: 100dvh;
}

button, a {
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
  background: url(../assets/bg.webp) center / cover no-repeat;
}

#content {
  width: 100%;
  height: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: black;

  opacity: 1;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.loading.fade-out {
  opacity: 0;
  transform: scale(1.1);
}

.loading-logo {
  width: 300px;
}

#lander {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Arcane', sans-serif;
  opacity: 1;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

#lander h1, #header h1 {
  background: linear-gradient(
    90deg,
    #7ee0ed 0%,
    #66bbf4 25%,
    #2498f1 60%,
    #2a548e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Arcane', sans-serif;
}

#lander h1 { font-size: 8rem; }

#lander button, #dialog div button {
  margin-bottom: 10%;
  position: relative;
  padding: 1vw 2vw;
  font-size: 2rem;
  font-family: inherit;
  color: #142946;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    #7ee0ed 0%,
    #66bbf4 25%,
    #2498f1 60%,
    #2a548e 100%
  );
  background-size: 300% 300%;
  transition: transform 0.25s ease-out, filter 0.25s ease-out;
  overflow: hidden;
}

#lander button::before, #dialog div button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;

  background: trasnparent;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  animation: arcaneBlueGlow 3s ease-in-out infinite;
  opacity: 0.9;
}

@keyframes arcaneBlueGlow {
  0% {
    filter: brightness(1) drop-shadow(0 0 4px #66bbf4);
  }
  50% {
    filter: brightness(1.25) drop-shadow(0 0 10px #7ee0ed);
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 4px #2498f1);
  }
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

#header h1 { font-size: 4rem; }

#scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  color: #66bbf4;
  font-family: 'Arcane', sans-serif;
  padding: 2vw;
}

#scores p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#scores p span {
  color: #7ee0ed;
  font-size: 1.5rem;
}

#gameboard, #dialogContainer {
  width: 80%;
  height: 80%;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 10px;

  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  padding: 0;
  transform-style: preserve-3d;
}

.tilt-wrapper {
  width: 50%;
  height: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 15px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.card img,
.card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card video {
  opacity: 0;
}

.card:hover video, .card:hover .card-inner h2 {
  opacity: 1;
}

.card:hover img {
  opacity: 0;
}

.card-inner h2 {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 5px;
  font-size: 2rem;
  font-family: 'Arcane', sans-serif;
  color: #b1e5ecb6;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#dialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dialog {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Arcane', sans-serif;
}

#dialog h1 {
  font-size: 6.5rem;
  background: linear-gradient(
    90deg,
    #7ee0ed 0%,
    #66bbf4 25%,
    #2498f1 60%,
    #2a548e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dialog div {
  padding: 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
}

#homeBtn {
  background: #142946 !important;
  border: 3px solid #66bbf4 !important;
  color: #7ee0ed !important;
}

#homeBtn:hover {
  transform: scale(1.05);
}